html {
  background-color: #151827;
}

body {
  background-color: #151827;
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.top-bar {
  background-color: #151827;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
}

.menu a {
  color: #ffffff;
  text-decoration: none;
  margin-left: 20px;
  transition: color 0.3s;
}

.menu a:hover {
  color: #2B3051;
}

.social-zone {
  position: relative;
}

.social-button {
  background:#353F77;
  border-radius: 10px;
  transition: color .25s,background .25s;
  cursor: pointer;
  border: 0.2px solid #353F77;
  border-radius: 5px;
  padding: 3px;
  position: absolute;
  right: 24px;
  top: 24px;
}

.social-button .discord-button {
  background:#353F77;
  border-radius: 16px;
  padding: 6px 8px;
  transition: color .25s,background .25s;
  cursor: pointer
}
