html {
  background-color: #151827;
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #151827;
}

h2 {
  color: #37A9BE;
}

table {
  width: 100%;
  border-collapse:collapse;
}

td {
  border: 0px;
  border-width: 0px;
  background: #2B3051;
  width: 33%;
}

.page {
  background-color: #151827;
  color: #DEE0EA;
}

.top-bar {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}

.logo {
  color: #37A9BE;
  font-size: 1.5em;
  font-weight: bold;
}

.menu a {
  color: #ffffff;
  text-decoration: none;
  margin-left: 20px;
  transition: color 0.3s;
}

.menu a:hover {
  color: #2B3051;
}

.social-zone {
  position: relative;
}

.social-zone pre {
  background: #2B3051;
  padding: 24px;
  color: #f7f8fb;
  border-radius: 16px;
}

.social-button {
  transition: opacity 0.3s ease;
  cursor: pointer
}

.social-button:hover {
  opacity: 0.5;
}
