html {
  background-color: #151827;
}

body {
  background-color: #151827;
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.page {
  background-color: #151827;
  color: #DEE0EA;
}

.top-bar {
  background-color: #151827;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
}

.menu a {
  color: #ffffff;
  text-decoration: none;
  margin-left: 20px;
  transition: color 0.3s;
}

.menu a:hover {
  color: #2B3051;
}

.social-zone {
  background:#353F77;
  position: relative;
}

.social-zone pre {
  background: #2B3051;
  padding: 24px;
  color: #f7f8fb;
  border-radius: 16px;
}

.social-button {
  position: absolute;
  right: 24px;
  top: 24px;
}

.social-button .discord-button {
  transition: opacity 0.3s ease;
  cursor: pointer
}

.social-button .discord-button:hover {
  opacity: 0.5;
}
